.order-item {
  background: #ffffff;
  position: relative;
  &-header {
    display: flex;
    align-items: center;
    padding: $content-padding;
  }
  &-number {
    margin: 0;
    flex: 1;
    font-size: $font-size-small;
    font-weight: bold;
  }
  &-status {
    font-size: $font-size-small;
    border: 2px solid $border-color;
    width: $component-size-larger;
    height: $component-size-larger;
    border-radius: 50%;
    color: $content-text-color;
    position: absolute;
    right: $content-padding;
    top: $content-padding;
    text-align: center;
    line-height: $component-size-larger;
    transform: rotateZ(45deg);
    z-index: 1;
    color: $property-text-color;
  }
  &-footer {
    border-top: 1px solid $border-color;
  }
}
