.van-nav-bar__title {
  font-size: 14px !important;
  font-weight: bold;
}

.van-swipe-item {
  display: flex;
  align-items: center;
  justify-content: center;
  .van-image-preview__image {
    position: initial;
    left: initial;
    top: initial;
    right: initial;
    bottom: initial;
    display: block;
  }
}
