.data-preview {
  padding: $content-padding;
  background-color: $primary-color;
  color: #fff;
  position: relative;
  background-size: 100% 100%;
  .detail {
    position: absolute;
    right: 6px;
    bottom: 6px;
    color: rgba(255, 255, 255, 0.6);
  }

  h3 {
    margin-top: 0;
    color: rgba(255,255,255,0.8);
    -webkit-user-select: none;
  }

  .main-data {
    font-size: 18px;
    color: #fff;
    user-select: none;
  }
}
