.info-add-notice-block {
  background: #fff;
  padding:$content-padding;
  cursor: pointer;
  @include flex-horizontal-align-center;

  .info-icon {
    color: $title-text-color;
    display: block;
  }

  .info-add-notice {
    display: block;
    @include flex-adapter;
    color: $sub-color;
    font-size: $font-size-small;
    text-align: center;
    cursor: pointer;
  }
}
