@import "~canknow-ui/src/scss/index";

$page-header-color: #07c160;
$sidebar-logo-bg: $page-header-color;

// sidebar
$menu-text-color: $title-text-color;
$menu-bg: #fff;
$opened-submenu-bg: $background;
$sidebar-width: 250px;
